name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Compile (make)
      run: make

    - name: Run Tests
      # Only keep this if your Makefile actually has a 'check' target
      run: make check

